<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <!-- <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
  </head>
  <body>
    <main>
        <h1>My Music</h1>
        <ul id="music_list">
            
        </ul>
        <div>
            <div>
                <label>Name</label>
                <input type="text" name="name">
            </div>
            <div>
                <label>Author</label>
                <input type="text" name="author">
            </div>
            <div>
                <label>Link</label>
                <input type="text" name="link">
            </div>
            <div>
                <button id="create">Create</button>
            </div>
        </div>  
    </main>
	<script src="index.js"></script>
  </body>
</html>